
<ul class="list-unstyled">
  <hr>
  <li class="media">
    <img class="mr-4" src="/assets/img/pubs/STAR_framework.png" alt="..." width="25%">
    <div class="media-body">
      <strong>Slot Self-Attentive Dialogue State Tracking</strong><br>
      <strong>Fanghua Ye</strong>, Jarana Manotumruksa, Qiang Zhang, Shenghui Li, Emine Yilmaz<br>
      The Web Conference (<strong>WWW</strong>) <br>
      Online, April 2021<br>
      <a href="https://arxiv.org/abs/2101.09374"><strong>[<font color="red">Paper</font>]</strong></a>
      <a href="https://github.com/smartyfh/DST-STAR"><strong>[<font color="red">Code</font>]</strong></a>
      <a href="https://www.youtube.com/watch?v=xkw9NMFkygc"><strong>[<font color="red">Video</font>]</strong></a>
    </div>
  </li>
  <hr>

  <li class="media">
    <img class="mr-4" src="/assets/img/pubs/20WISH.png" alt="..." width="25%">
    <div class="media-body">
      <strong>Unsupervised Few-Bits Semantic Hashing with Implicit Topics Modeling</strong><br>
      <strong>Fanghua Ye</strong>, Jarana Manotumruksa, Emine Yilmaz<br>
      Findings of EMNLP <br>
      Online, November 2020<br>
      <a href="https://www.aclweb.org/anthology/2020.findings-emnlp.233.pdf"><strong>[<font color="red">Paper</font>]</strong></a>
      <a href="https://github.com/smartyfh/WISH"><strong>[<font color="red">Code</font>]</strong></a>
    </div>
  </li>
  <hr>

  <li class="media">
    <img class="mr-4" src="/assets/img/pubs/19DNMF.png" alt="..." width="25%">
    <div class="media-body">
      <strong>Discrete Overlapping Community Detection with Pseudo Supervision</strong><br>
      <strong>Fanghua Ye</strong>, Chuan Chen, Zibin Zheng, Rong-Hua Li, Jeffrey Xu Yu<br>
      IEEE International Conference on Data Mining (<strong>ICDM</strong>) <br>
      Beijing, China, November 2019<br>
      <a href="https://ieeexplore.ieee.org/document/8970691"><strong>[<font color="red">Paper</font>]</strong></a>
      <a href="https://github.com/smartyfh/DNMF"><strong>[<font color="red">Code</font>]</strong></a>
    </div>
  </li>
  <hr>

  <li class="media">
    <img class="mr-4" src="/assets/img/pubs/18DANMF.png" alt="..." width="25%">
    <div class="media-body">
      <strong>Deep Autoencoder-Like Nonnegative Matrix Factorization for Community Detection</strong><br>
      <strong>Fanghua Ye</strong>, Chuan Chen, Zibin Zheng<br>
      ACM International Conference on Information and Knowledge Management (<strong>CIKM</strong>) <br>
      Turin, Italy, October 2018<br>
      <a href="https://dl.acm.org/doi/10.1145/3269206.3271697"><strong>[<font color="red">Paper</font>]</strong></a>
      <a href="https://github.com/smartyfh/DANMF"><strong>[<font color="red">Code</font>]</strong></a>
    </div>
  </li>
  <hr>

  <li class="media">
    <img class="mr-4" src="/assets/img/pubs/18skylinecomm.png" alt="..." width="25%">
    <div class="media-body">
      <strong>Skyline Community Search in Multi-Valued Networks</strong><br>
      Rong-Hua Li, Lu Qin, <strong>Fanghua Ye</strong>, Jeffrey Xu Yu, Xiaokui Xiao, Nong Xiao, Zibin Zheng<br>
      ACM International Conference on Management of Data (<strong>SIGMOD</strong>) <br>
      Houston, TX, USA, June 2018<br>
      <a href="https://dl.acm.org/doi/10.1145/3183713.3183736"><strong>[<font color="red">Paper</font>]</strong></a>
      <a href="https://github.com/smartyfh/MAIC"><strong>[<font color="red">Code</font>]</strong></a>
    </div>
  </li>
  <hr>
</ul>
