<!DOCTYPE html>
{% assign theme = site.data.themes[site.ui_theme] %}
<html>
  {% include head.html %}
  <body style="background-color:{{theme.background-color}};">
    {% include nav.html %}
    <div class="dumbarton-spacer-sm"></div>
    <div class="container">
      {{ content }}
    </div>
    <div class="dumbarton-spacer"></div>
    
    <div class="container">
      <div style="width:110px;height:110px;margin:0px 30px 20px 10px;">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=5W1lvXU9npr2Sjw0tB0_udEIM1nrn-aRDWM05oThOtc"></script>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
